<div class="jumbotron">
    <h1>B2B Retailer</h1>
    <p class="lead">This is our Products RESTful service. The link below will take you to the documentation of this API 
    and all other services that will be included within this project.</p>
    <p><a href="#" class="btn btn-primary btn-lg">Go to the central documentation &raquo;</a></p>
</div>
